.stApp
{
    background:linear-gradient(135deg,#1b69b7 0%,#bfd175 50%,#825b7d 100%) ;
    min-height:100vh;
    font-family:'Segoe UI', sans-serif;


}
.card
{
    background-color: #bbcb61;
    padding:25px;
    border-radius:16px ;
    box-shadow: 0 8px 20px rgba(163, 72, 72, 0.466);
    margin-bottom:20px ;
}
h1,h2,h3{
    color:#0f172a;
}
/* Metric box */
div[data-testid="metric-container"] {
    background-color: #b69c52;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.prediction-box
{
    background:linear-gradient(135deg,#dcfce7 ,#bbf7d0) ;
    padding:22px ;
    border-radius:14px ;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color:#1453d1;
    margin-top:15px;
}